################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/doc
.classpath
.project
.settings